.library{

    #userimg{
        display: flex;
        justify-content: center;
        flex-direction: column;

        img{
            max-width: 350px;
            width: 100%;
            height: 100%;
            align-self: center;
        }

        h2{
            margin: 0;
            padding: 20px;
            display: flex;
            justify-content: center;
            font-size: 50px;
        }
    }

    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-self: center;
        margin: 0;
        padding: 0;

        li{
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;

            img{
                width: 100px;
                height: 100%;
                cursor: pointer;
            }

            .songinfo{
                display: flex;
                flex-direction: row;
                gap: 30px;
                align-items: center;

                p{
                    margin: 0;

                    &:last-child{
                        opacity: 0.7;
                    }
                }
            }

            button{
                all: unset;
                cursor: pointer;

                svg{
                    width: 100px;
                }
            }
        }
    }

}