.search{
    display: flex;
    flex-direction: column;
    gap: 30px;

    #searchbar{
        all: unset;
        box-sizing: border-box;
        border-radius: 30px;
        padding: 10px 20px;
        border: 2px solid;
        max-width: 400px;
        width: 100%;
        margin: 0 15px;
        align-self: center;
    }

    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-self: center;
        gap: 15px;
        margin-bottom: 30px;

        li{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            cursor: pointer;

            img{
                max-width: 150px;
                width: 100%;
            }

            .songinfo{
                
                p{
                    display: flex;
                    justify-content: center;
                    margin: 0;
                }
            }

            button{
                all: unset;
                align-self: center;
                background-color: rgb(0, 255, 0);
                padding: 10px;
                border-radius: 30px;
                color: rgb(0, 0, 0);
            }
        }
    }
}