.search{
    display: flex;
    flex-direction: column;
    gap: 30px;

    .bigtext{
        margin: 100px 0 0;
        padding: 20px;
        align-self: center;
        font-size: clamp(15px, 2vw, 100px);
    }

    div{
        align-self: center;
        display: flex;

        button{
            all: unset;
            background-color: rgb(0, 255, 0);
            border-radius: 30px;
            padding: 15px;
            color: rgb(0, 0, 0);
            cursor: pointer;
        }
    }

    #searchbar{
        all: unset;
        box-sizing: border-box;
        border-radius: 30px;
        padding: 10px 20px;
        border: 2px solid;
        max-width: 400px;
        width: 100%;
        margin: 0 15px;
        align-self: center;
    }

    #atLibrary{
        background-color: rgb(255, 255, 255);
        cursor: auto;
        color: rgb(0, 0, 0);
        align-self: center;
        border-radius: 30px;
        padding: 10px;
        margin: 0;
    }

    ul{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin: 0 10px;
        padding: 0;
        gap: 15px;
        margin-bottom: 30px;

        li{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            padding: 15px;

            a{
                align-self: center;
                
                img{
                    max-width: 150px;
                    width: 100%;
                    cursor: pointer;
                }
            }

            .songinfo{
                display: flex;
                flex-direction: column;
                gap: 10px;
                
                p{
                    display: flex;
                    justify-content:center;
                    margin: 0;
                }
            }

            button{
                all: unset;
                align-self: center;
                background-color: rgb(0, 255, 0);
                padding: 10px;
                border-radius: 30px;
                color: rgb(0, 0, 0);
                cursor: pointer;

            }
        }
    }
}