.songDetails{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;

    .songdetatext{
        margin: 100px 0 0;
        padding: 20px;
        align-self: center;
        font-size: clamp(15px, 2vw, 100px);

    }

    
    a{
        align-self: center;
        img{
            max-width: 200px;
        }
    }

    .songinfo{
        display: flex;
        flex-direction: column;
        gap: 30px;

        p{
            margin: 0;
            display: flex;
            justify-content: center;
        }
    }
    

}