.library #userimg {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.library #userimg img {
  max-width: 350px;
  width: 100%;
  height: 100%;
  align-self: center;
}
.library #userimg h2 {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.library ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: center;
  margin: 0;
  padding: 0;
}
.library ul li {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.library ul li img {
  width: 100px;
  height: 100%;
  cursor: pointer;
}
.library ul li .songinfo {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
.library ul li .songinfo p {
  margin: 0;
}
.library ul li .songinfo p:last-child {
  opacity: 0.7;
}
.library ul li button {
  all: unset;
  cursor: pointer;
}
.library ul li button svg {
  width: 100px;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
header svg {
  max-width: 50px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.search .bigtext {
  margin: 100px 0 0;
  padding: 20px;
  align-self: center;
  font-size: clamp(15px, 2vw, 100px);
}
.search div {
  align-self: center;
  display: flex;
}
.search div button {
  all: unset;
  background-color: rgb(0, 255, 0);
  border-radius: 30px;
  padding: 15px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.search #searchbar {
  all: unset;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 10px 20px;
  border: 2px solid;
  max-width: 400px;
  width: 100%;
  margin: 0 15px;
  align-self: center;
}
.search #atLibrary {
  background-color: rgb(255, 255, 255);
  cursor: auto;
  color: rgb(0, 0, 0);
  align-self: center;
  border-radius: 30px;
  padding: 10px;
  margin: 0;
}
.search ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 0 10px;
  padding: 0;
  gap: 15px;
  margin-bottom: 30px;
}
.search ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}
.search ul li a {
  align-self: center;
}
.search ul li a img {
  max-width: 150px;
  width: 100%;
  cursor: pointer;
}
.search ul li .songinfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.search ul li .songinfo p {
  display: flex;
  justify-content: center;
  margin: 0;
}
.search ul li button {
  all: unset;
  align-self: center;
  background-color: rgb(0, 255, 0);
  padding: 10px;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.songDetails {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
}
.songDetails .songdetatext {
  margin: 100px 0 0;
  padding: 20px;
  align-self: center;
  font-size: clamp(15px, 2vw, 100px);
}
.songDetails a {
  align-self: center;
}
.songDetails a img {
  max-width: 200px;
}
.songDetails .songinfo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.songDetails .songinfo p {
  margin: 0;
  display: flex;
  justify-content: center;
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: 100%;
}/*# sourceMappingURL=App.css.map */